<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        {{>navbar}}
        <!-- 
          Following code will be created for frontend 
        -->
        <div class="jumbotron"><!-- This div will act as container for this page-->
  <h1 class="display-4">MERN PROJECT</h1> <!--MERN PROJECT will be the heading for the page-->
  <p class="lead">User Registration.</p> 
  <hr class="my-4">
  <p>MongoDB,Express,React, Node, Nodemon, Mongoose. </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://www.mongodb.com/try/download/compass" role="button">MongoDB</a>
  </p>
</div>
</body>
</html>
